.mission-card {
  width: 98vw;
  border: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.mission {
  margin: 0 auto;
}

.heading {
  width: 98vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: 700;
}

.tbody {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left {
  display: flex;
  flex: 0.15;
  justify-content: center;
  font-weight: 700;
  padding: 5px;
  border: 1px solid rgb(185, 184, 184);
}

.center {
  display: flex;
  flex: 1;
  align-items: center;
  border: 1px solid rgb(185, 184, 184);
  word-wrap: break-word;
  padding: 5px;
}

.right {
  display: flex;
  flex: 0.3;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(185, 184, 184);
}

.badge {
  display: flex;
  margin: 5px;
  color: white;
  border-radius: 5px;
  background-color: rgb(109, 117, 125);
  font-size: 12px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.badge2 {
  display: flex;
  margin: 5px;
  color: white;
  border-radius: 5px;
  background-color: #40a2b8;
  font-size: 12px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.join-btn {
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
  color: red;
  border: 1px solid red;
}

.join {
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .heading {
    width: 98vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 10px;
  }

  .left {
    display: flex;
    min-width: 20vw;
    padding: 5px;
    justify-content: center;
    border: 1px solid rgb(185, 184, 184);
    font-size: 0.75rem;
  }

  .center {
    display: flex;
    width: 60vw;
    align-items: center;
    border: 1px solid rgb(185, 184, 184);
    word-wrap: break-word;
    padding: 5px;
    font-size: 0.75rem;
  }

  .right {
    display: flex;
    width: 20vw;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    border: 1px solid rgb(185, 184, 184);
    font-size: 0.75rem;
  }

  .join-btn {
    margin-top: 20px;
  }

  .badge2,
  .badge {
    text-align: center;
    padding: 5px;
  }
}
